.PlaygroundLegend_Row {
    margin-bottom: 0.2em;
}

.PlaygroundLegend_Color {
    height: 1em;
    width: 1em;
    margin-left: 0.5em;
    float: left;
    border: 1px solid #CCC;
}

.PlaygroundLegend_EntryLabel {
    width: 70%;
    float: right;
    text-align: left;
}

.PlaygroundLegend_Clear {
    clear: both;
}