@import '../variables';
@import 'DatePicker';

#tools {
  position: absolute;
  left: 10px;
  top: 10px;
  background: $mainLight;
  z-index: 1;
  width: $toolsWidth;
  color: $textColor;
  box-shadow: 0 2px 5px #000;
  transition: all ease $toolsTransitionTime;

  &.hidden {
    margin-left: -120%;
  }

  & > header {
    padding: 3px 10px 3px 52px;
    overflow: hidden;
    background: $mainLight;

    h2 {
      text-transform: uppercase;
      font-size: 15px;
      color: #fff;
    }

    /* to clean probably */
    a {
      display: none;
      float: left;
      margin-top: 10px;
      margin-left: -30px;
      cursor: pointer;
      font-size: 20px;
      color: #fff;

    }
  }

  footer {
    text-align: center;
    padding: 5px;
    background: $mainMedium;

    .btn {
      margin: 3px;
    }
  }

  .simplePresetsHolder a {
    display: block;
    color: #ddd;
    opacity: .5;
    font-size: 13px;
    padding-left: 65px;
    padding-top: 10px;
    min-height: 46px;
    border-bottom: 1px solid #555;
    clear: both;
    cursor: pointer;

    .icon {
      float: left;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      margin-left: -55px;
      margin-top: -5px;
      border-radius: 50px;
      display: block;
      background: $mainMedium;
      border: 3px solid transparent;
    }
    &:hover {
      opacity: .8;
    }
    &.active:hover,
    &.active {
      color: #fff;
      opacity: 1;

      .icon {
        border: 3px solid $primaryCol;
      }
      small {
        color: #eee;
      }
    }
    small {
      color: #ccc;
      display: block;
    }
  }


  .scriptBtnPanel {
    text-align: center;
    padding: 5px;
  }
}

.leaflet-pane {
  z-index: auto;
}
.tabs-menu {
  background: $mainMedium;
  margin: 0;
  padding: 0;

  li {
    float: left;
    list-style: none;

    a {
      display: block;
      cursor: pointer;
      color: #aaa;
      padding: 6px 12px;
      border-bottom: 3px solid transparent;

      img, i {
        font-size: 17px;
        fill: #aaa;
        display: block;
        width: 17px;
        height: 17px;
        margin: 0 auto 5px;
      }
    }

    &.is-active a {
      color: #fff;
      background: $mainDark;
      border-color: $primaryCol;
    }
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
.tab-panel {
  overflow: auto;
}

.floatItem {
  /*position: absolute;*/
  /*top: 16px;*/
  /*left: 384px;*/
  background: $mainLight;
  padding: 0;
  color: #fff;
  margin: 0;
  margin-left: $basicMargin;
  /*height: 36px;*/
  height: $controlsHeight;
  border: none;
  overflow: visible;
  box-shadow: 0 2px 5px #000;

  i {
    /*width: 36px;*/
    /*height: 36px;*/
    height: $controlsHeight;
    width: $controlsHeight;
    background: $mainDark;
    color: #fff;
    text-align: center;
    /*line-height: 34px;*/
    line-height: $controlsHeight - 2px;

    & + span {
      font-size: 15px;
      padding: 0 16px;
    }
  }

}

div.searchHolder i {
  margin-right: 0;
}

div.rc-slider {
  display: inline-block;
  width: 200px;

  .rc-slider-handle {
    border-color: $primaryCol;
  }
  .rc-slider-track {
    background: $primaryCol;
  }
}

.cloudHolder {
  position: absolute;
  /*left: 0px;*/
  /*top: 37px;*/
  background: $mainMedium;
  padding: 6px;
  padding-bottom: 11px;
  z-index: 3;

  &:after {
    content: "";
    position: absolute;
    left: 45px;
    top: -4px;
    /*border-bottom: 4px solid $mainMedium;*/
    /*border-left: 4px solid transparent;*/
    /*border-right: 4px solid transparent;*/
  }
}

#cloudFloat {
  display: inline-block;
  /*margin-left: 180px;*/
  margin-left: $basicMargin;
  
}

.effectsPanel {
  padding: 10px;

  label {
    clear: both;
    margin-bottom: 10px;
    display: block;

    span {
      display: inline-block;
      margin-bottom: 5px;
    }

  }
  .react-toggle,
  .gainSlider {
    float: right;
    clear: both;
    .rc-slider {
      width: 120px;
    }
    span {
      display: inline-block;
      font-size: 0.9em;
      margin-left: 5px;
      width: 30px;
    }
  }
}
.react-toggle--checked .react-toggle-track,
.react-toggle.react-toggle--checked:hover .react-toggle-track {
  background: $primaryCol;
}

.react-toggle--focus .react-toggle-thumb {
  box-shadow: 0px 0px 2px 3px $primaryCol;
}

.react-toggle:active .react-toggle-thumb {
  box-shadow: 0px 0px 5px 5px $primaryCol;
}
.react-toggle.react-toggle--focus .react-toggle-thumb {
  box-shadow: 0 0 3px $primaryCol;
}
.react-toggle--checked .react-toggle-thumb {
  border-color: $primaryCol;
}

.deepartInfo {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 10px;
  bottom: 60px;
  display: flex;
  border-radius: 10px;
  align-content: center;
  align-items: center;
  justify-content: center;

  & > div {
    padding: 10px;
    background: $mainDark;
    text-align: center;
    color: #fff;
  }
  .downloadImage {
    position: relative;

    img {
      max-height: calc(100vh - 240px);
      max-width: 100%;
    }
    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      color: #fff;
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      background: #333;
      border-radius: 30px;
    }
  }
}
.deepartPanel {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 50px;
  right: 0;
  margin: 10px;
  background: $mainMedium;
  overflow: auto;
  color: #fff;


  p {
    margin: 10px 50px 10px 10px;
  }

  & > div {
    display: flex;
  }
  & > a {
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  img {
    margin: 10px;
    flex: 1;
    cursor: pointer;

    &.active, &:hover {
      box-shadow: 0 0 3px #fff
    }
  }
}

#searchBox {
  /*left: auto;*/
  /*right: 80px;*/
  display: inline-block;
  float: right;
  margin-right: $basicMargin;
  margin-left: -45px;
  margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
    #searchBox {
        margin-right: $basicMargin;
    }
}

#toggleSettings {
  display: block;
  position: absolute;
  left: 19px;
  top: 14px;
  color: #fff;
  background: $mainMedium;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
  z-index: 101;
  transition: all ease 0.4s;

  &.hidden {
    top: 9px;
    left: 8px;
  }

  i {
    margin: 5px;
    display: block;
    width: 24px;
    height: 24px;
    font-size: 15px;
    line-height: 24px;
    transition: all ease 0.4s;
  }

  i.fa-cogs {
    margin: 10px;
    font-size: 20px;
  }

  &.open {
    box-shadow: 0 2px 10px #000;
    left: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
@media screen and (max-width: 1100px) {
  #searchBox {
    top: 66px;
  }
}

@media screen and (max-width: 700px) {
  #tools {
    width: calc(100% - 72px);
  }
  .floatItem {
    z-index: 1;
    box-shadow: none;
    top: 76px;
    left: auto;
    right: 10px;
    border: 1px solid $mainMedium;
    & > i {
      cursor: pointer;
    }
    & > span {
      width: 0;
      height: 0;
      display: block;
      overflow: hidden;
    }
    &.active > span {
      width: auto;
      height: auto;
      overflow: visible;
      position: absolute;
      right: 100%;
      top: 0;
      bottom: 0;
      line-height: 28px;
      text-align: center;
      background: $mainLight;
      white-space: nowrap;
      padding: 2px 5px;
      box-shadow: 0 2px 10px #000;
    }
    .cloudHolder {
      left: auto;
      right: 15px;
      box-shadow: 0 2px 10px #000;
    }
  }
  #dateFloat {
    /*margin-top: 40px;*/
  }
  #cloudFloat {
    /*margin-left: auto;*/
    /*margin-top: 90px;*/
  }
  #searchBox {
    left: auto;
    z-index: 2;
    right: 12px;
    top: 70px;
  }

  .tabs-menu > li > a > * {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    margin-right: 5px;
  }
  .colorsContainer div {
    width: 30px;
    height: 30px;
    margin: 5px;
    line-height: 30px;
  }
  .colHolder, .colHolder div {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}
@media screen and (min-width: 700px) {
  #cloudSliderVal {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    width: 60px;
  }
}