@import '../variables.scss';
@import 'DatePicker.scss';

#tools {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #385168;
  z-index: 12;
  width: $toolsWidth;
  color: #f4f4f4; /*$textColor; korekture miha*/
  /*box-shadow: 0 2px 5px #000;*/
  transition: all ease $toolsTransitionTime;

  &.hidden {
    margin-left: -120%;
  }

  & > header {
    z-index: 1000;
    padding: 0px 0px 0px 65px;
    overflow: hidden;
    background: #487191;
    height: 60px; /* #Controls element's CSS: padding-top: 10px; height: px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      height: 80%;
      width: 100%;
    }

    h2 {
      text-transform: uppercase;
      font-size: 15px;
      color: #fff;
    }

    /* to clean probably */
    a {
      display: none;
      float: left;
      margin-top: 10px;
      margin-left: -30px;
      cursor: pointer;
      font-size: 20px;
      color: #fff;
    }
  }

  footer {
    text-align: right;
    padding: 10px 10px 7px;
    /*background: $mainMedium;*/

    .btn {
      margin-bottom: 10px;
    }
  }

  .simplePresetsHolder a {
    display: block;
    color: #ddd;
    opacity: 0.5;
    font-size: 13px;
    padding-left: 65px;
    padding-top: 10px;
    min-height: 46px;
    border-bottom: 1px solid #777777;
    clear: both;
    cursor: pointer;

    .icon {
      float: left;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      margin-left: -55px;
      margin-top: -5px;
      border-radius: 50px;
      display: block;
      background: $mainMedium;
      border: 3px solid transparent;
    } /*
    &:hover {
      opacity: 1;
    } korekture miha*/
    &.active:hover,
    &.active {
      color: #fff;
      opacity: 1;

      .icon {
        border: 3px solid $mainLight;
      }
      small {
        color: #eee;
      }
    }
    small {
      color: #ccc;
      display: block;
    }
  }

  .scriptBtnPanel {
    text-align: center;
    padding: 5px;
  }
}

.leaflet-pane {
  z-index: auto;
}
.tabs-menu {
  background: $mainMedium;
  margin: 0;
  padding: 0;
  font-size: 13px; /*korekture miha*/

  li {
    float: left;
    list-style: none;

    a {
      display: block;
      cursor: pointer;
      color: #aaa;
      padding: 6px 12px;
      border-bottom: 3px solid transparent;

      img,
      i {
        font-size: 17px;
        fill: #aaa;
        display: block;
        width: 17px;
        height: 17px;
        margin: 0 auto 5px;
      }
    }

    &.is-active a {
      color: #fff;
      background: $mainDark;
      border-color: $primaryCol;
    }
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.tab-panel {
  overflow: auto;
}
.floatItem {
  padding: 10px 0;
  color: #9ab7cd !important;
  margin: 0;
  margin-left: $basicMargin;
  height: $controlsHeight;
  border: none;
  overflow: visible;

  &.active {
    background: rgba(255, 255, 255, 0.4);
  }
  i {
    /*width: 36px;*/
    /*height: 36px;*/
    height: $controlsHeight;
    width: $controlsHeight;
    /* background: $mainDark;*/
    color: #9ab7cd;
    text-align: center;
    /*line-height: 34px;*/
    line-height: $controlsHeight - 2px;

    & + span {
      font-size: 15px;
      /*padding: 0 16px;klemen*/
    }
  }
}

div.searchHolder i {
  margin-right: 0;
}

div.rc-slider {
  display: inline-block;
  width: 200px;

  .rc-slider-handle {
    border-color: $primaryCol;
    border-radius: 50%;
  }
  .rc-slider-track {
    background: $primaryCol;
  }
}

.cloudHolder {
  position: absolute;
  background: #487191;
  padding: 6px;
  padding-bottom: 11px;
  z-index: 3;

  &:after {
    content: '';
    position: absolute;
    left: 45px;
    top: -4px;
  }
}
#cloudFloat {
  display: inline-block;
  margin-left: $basicMargin;
}
.effectsPanel {
  padding: 10px;

  label {
    clear: both;
    margin-bottom: 10px;
    display: block;
    font-size: 14px;

    span {
      display: inline-block;
      margin-bottom: 5px;
    }
  }
  .react-toggle,
  .gainSlider {
    float: right;
    clear: both;
    .rc-slider {
      width: 120px;
    }
    span {
      display: inline-block;
      font-size: 0.9em;
      margin-left: 5px;
      width: 30px;
    }
  }
}
.react-toggle--checked .react-toggle-track,
.react-toggle.react-toggle--checked:hover .react-toggle-track {
  background: $primaryCol;
}

.react-toggle--focus .react-toggle-thumb {
  box-shadow: 0px 0px 2px 3px $primaryCol;
}

.react-toggle:active .react-toggle-thumb {
  box-shadow: 0px 0px 5px 5px $primaryCol;
}
.react-toggle.react-toggle--focus .react-toggle-thumb {
  box-shadow: 0 0 3px $primaryCol;
}
.react-toggle--checked .react-toggle-thumb {
  border-color: $primaryCol;
}
.deepartInfo {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 10px;
  bottom: 60px;
  display: flex;
  border-radius: 10px;
  align-content: center;
  align-items: center;
  justify-content: center;

  & > div {
    padding: 10px;
    background: $mainDark;
    text-align: center;
    color: #fff;
  }
  .downloadImage {
    position: relative;

    img {
      max-height: calc(100vh - 240px);
      max-width: 100%;
    }
    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      color: #fff;
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      background: #333;
      border-radius: 30px;
    }
  }
}
.deepartPanel {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 50px;
  right: 0;
  margin: 10px;
  background: $mainMedium;
  overflow: auto;
  color: #fff;

  p {
    margin: 10px 50px 10px 10px;
  }

  & > div {
    display: flex;
  }
  & > a {
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  img {
    margin: 10px;
    flex: 1;
    cursor: pointer;

    &.active,
    &:hover {
      box-shadow: 0 0 3px #fff;
    }
  }
}

#searchBox {
  display: inline-block;
  float: right;
  margin-right: 100px;
  margin-left: -45px;
  margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
  #searchBox {
    margin-right: $basicMargin;
    margin-bottom: 20px;
  }
}

#toggleSettings {
  display: block;
  position: absolute;
  left: 1px;
  margin-right: 20px;
  top: 14px;
  color: #fff;
  /*background: $mainMedium;*/
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
  z-index: 101;
  transition: all ease 0.4s;

  &.hidden {
    top: 9px;
    left: -4px;
  }

  i {
    margin: 5px 10px 5px 8px;
    display: block;
    width: 32px;
    height: 24px;
    font-size: 15px;
    line-height: 24px;
    transition: all ease 0.4s;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    padding-right: 8px;
  }

  i.fa-cogs {
    margin: 10px 10px 5px 13px;
    font-size: 18px;
  }

  &.open {
    box-shadow: 0 2px 10px #000;
    left: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
@media screen and (max-width: 1100px) {
  #searchBox {
    top: 66px;
  }
}

@media screen and (max-width: 700px) {
  #tools {
    width: calc(100% - 72px);
    z-index: 0;
  }

  .floatItem {
    padding: 0;
    z-index: 1;
    box-shadow: none;
    top: 76px;
    left: auto;
    right: 10px;
    border: 1px solid $mainMedium;
    & > i {
      cursor: pointer;
    }
    & > span {
      width: 0;
      height: 0;
      display: block;
      overflow: hidden;
    }
    &.active > span {
      width: auto;
      height: auto;
      overflow: visible;
      position: absolute;
      right: 100%;
      top: 0;
      bottom: 0;
      line-height: 28px;
      text-align: center;
      background: $mainLight;
      white-space: nowrap;
      padding: 2px 5px;
      box-shadow: 0 2px 10px #000;
    }
    .cloudHolder {
      left: auto;
      right: 15px;
      box-shadow: 0 2px 10px #000;
    }
  }

  #cloudFloat {
    background-color: #233c50;
  }

  #searchBox {
    left: auto;
    z-index: 2;
    right: 12px;
    top: 70px;
  }

  .tabs-menu > li > a > * {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    margin-right: 5px;
  }
  .colorsContainer div {
    width: 30px;
    height: 30px;
    margin: 5px;
    line-height: 30px;
  }
  .colHolder,
  .colHolder div {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-shadow: none !important;
  }
  #separator,
  #separator1 {
    display: none !important;
  }
}
@media screen and (min-width: 700px) {
  #cloudSliderVal {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    width: 60px;
  }
}

.floatItem i + span {
  font-size: 14px;
}
#cloudFloat.floatItem.m-r-1-700.pull-right-700.active {
  background-color: #557a97;
  color: white !important;
  padding-right: 10px;
}
#cloudFloat.floatItem.m-r-1-700.pull-right-700.active i {
  background-color: #557a97;
  color: white !important;
}
.react-date-field--expanded {
  background-color: #557a97;
  color: white !important;
}
@media screen and (max-width: 700px) {
  #cloudFloat.floatItem.m-r-1-700.pull-right-700.active {
    background-color: #557a97;
    color: white !important;
    padding-right: 0px !important;
  }
  #cloudFloat.floatItem.m-r-1-700.pull-right-700.active i {
    background-color: #233c50;
    color: #9ab7cd !important;
  }
  .cloudHolder {
    background-color: #233c50;
  }
}
@media screen and (max-width: 953px) {
  #cloudFloat.floatItem.m-r-1-700.pull-right-700.active {
    background-color: #233c50;
    padding-right: 12px;
  }

  .geosuggest__input-wrapper {
    background-color: #487191;
  }
  #searchBox.active.floatItem {
    white-space: nowrap;
    min-width: 140px;
  }
  #searchBox.false.floatItem {
    white-space: nowrap;
    min-width: 140px;
    margin-top: 10px;
  }
  .react-date-field--expanded {
    background-color: #233c50;
  }
}
@media screen and (max-width: 953px) {
  .geosuggest__input-wrapper {
    background-color: #233c50;
    min-width: 100px;
  }
  #separator {
    display: none !important;
  }
  #cloudFloat.floatItem.m-r-1-700.pull-right-700.active i {
    background-color: #233c50;
  }
  .cloudHolder {
    z-index: 10;
  }
  /*#cloudFloat {
    background-color: #233c50!important;
    }*/
  #Controls .half-size {
    width: 49% !important;
  }
}
@media screen and (max-width: 700px) {
  #searchBox.active.floatItem {
    min-width: 10px;
  }
  #searchBox.false.floatItem {
    min-width: 10px;
  }
  .floatItem.m-r-1-700.pull-right-700 {
    background-color: #233c50;
    padding-right: 0px;
  }
  #cloudFloat.floatItem.m-r-1-700.pull-right-700.active {
    background-color: #487191;
    padding-right: 0px;
  }
  #cloudFloat.floatItem.m-r-1-700.pull-right-700.active i {
    background-color: #233c50;
    padding-right: 0px;
    clear: both;
  }
  .cloudHolder {
    margin-top: 0px !important;
  }
  #searchBox.floatItem.active {
    background-color: #233c50 !important;
  }
}
#searchBox.floatItem.active {
  background-color: #487191;
}
#searchBox.floatItem {
  padding: 0;
}
@media screen and (max-width: 882px) {
  #cloudFloat.floatItem.m-r-1-700.pull-right-700 {
    padding-bottom: 10px;
    padding-top: 10px;
    clear: both;
  }
}
.toggleBandMode:before {
  background: $mainLight;
}
.react-toggle--checked .react-toggle-track,
.react-toggle.react-toggle--checked:hover .react-toggle-track {
  background: $mainLight !important;
}
.react-toggle-thumb {
  background-color: #f4f4f4;
}

.rc-tooltip {
  display: none;
}

@media screen and (max-width: 953px) {
  #searchBox.floatItem {
    background-color: #233c50;
  }
  #searchBox.active.floatItem {
    margin-top: 10px;
  }
  #searchBox {
    display: inline-block !important;
  }
}
