$primaryCol: #959c08;
$primaryColLighter: #D0D742;
$mainDark: #191a25;
$mainMedium: #22232d;
$mainLight: #3b3d4d;
$textColor: #868fa0;
$bandPopupSize: 60px;
$white: white;


$toolsWidth: 350px;
$controlsHeight: 40px;
$basicMargin: 10px;
$basicPadding: $basicMargin;

$toolsTransitionTime: 0.7s;
$controlsTransitionTime: 0.6s;
