$primaryCol: #c9ced4;   /*#959c08;*/
$primaryColLighter: #D0D742; 
$mainDark: #233c50; /*#191a25; */
$mainMedium: #2f485c; /*#22232d;*/
$mainLight: #233c50; /*#3b3d4d;*/
$textColor: #fff;   /*#868fa0;*/
$bandPopupSize: 60px;
$white: white;


$toolsWidth: 350px;
$controlsHeight: 40px;
$basicMargin: 10px;
$basicPadding: $basicMargin;

$toolsTransitionTime: 0.6s;
$controlsTransitionTime: 0.6s;
